Import Pandas

In [1]:
import pandas as pd

Extract table from Wikipedia

In [12]:
table = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", match="Postcode")

In [13]:
df = table[0]

In [14]:
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

In [15]:
df.describe()

       Postcode       Borough Neighbourhood
count       288           288           288
unique      180            12           209
top         M9V  Not assigned  Not assigned
freq          8            77            78

Filter out not assigned Borough

In [16]:
df["Borough"]!="Not assigned"

0      False
1      False
2       True
3       True
4       True
       ...
283     True
284     True
285     True
286     True
287    False
Name: Borough, Length: 288, dtype: bool

In [17]:
df[df["Borough"]!="Not assigned"]

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

In [18]:
filtered_df = df[df["Borough"]!="Not assigned"]

Combined Neighbourhood of same Postcode

In [19]:
filtered_df.groupby("Postcode")

In [20]:
filtered_df.groupby("Postcode").count()

          Borough  Neighbourhood
Postcode
M1B             2              2
M1C             3              3
M1E             3              3
M1G             1              1
M1H             1              1
...           ...            ...
M9N             1              1
M9P             1              1
M9R             4              4
M9V             8              8
M9W             1              1

[103 rows x 2 columns]

In [23]:
filtered_df.groupby("Postcode").agg({"Borough": "first", "Neighbourhood": ", ".join})

              Borough                                      Neighbourhood
Postcode
M1B       Scarborough                                     Rouge, Malvern
M1C       Scarborough             Highland Creek, Rouge Hill, Port Union
M1E       Scarborough                  Guildwood, Morningside, West Hill
M1G       Scarborough                                             Woburn
M1H       Scarborough                                          Cedarbrae
...               ...                                                ...
M9N              York                                             Weston
M9P         Etobicoke                                          Westmount
M9R         Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
M9V         Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
M9W         Etobicoke                                          Northwest

[103 rows x 2 columns]

In [24]:
combined_df = filtered_df.groupby("Postcode").agg({"Borough": "first", "Neighbourhood": ", ".join})

Assign Borough name for not assigned Neighbourhood

In [44]:
combined_df[combined_df["Neighbourhood"]=="Not assigned"]

               Borough Neighbourhood
Postcode
M7A       Queen's Park  Not assigned

In [59]:
for row in combined_df[combined_df["Neighbourhood"]=="Not assigned"].index:
    combined_df.loc[row]["Neighbourhood"] = combined_df.loc[row]["Borough"]

In [60]:
combined_df[combined_df["Neighbourhood"]=="Not assigned"]

Empty DataFrame
Columns: [Borough, Neighbourhood]
Index: []

In [61]:
combined_df

              Borough                                      Neighbourhood
Postcode
M1B       Scarborough                                     Rouge, Malvern
M1C       Scarborough             Highland Creek, Rouge Hill, Port Union
M1E       Scarborough                  Guildwood, Morningside, West Hill
M1G       Scarborough                                             Woburn
M1H       Scarborough                                          Cedarbrae
...               ...                                                ...
M9N              York                                             Weston
M9P         Etobicoke                                          Westmount
M9R         Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
M9V         Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
M9W         Etobicoke                                          Northwest

[103 rows x 2 columns]

In [62]:
combined_df.shape

(103, 2)